::selection {
  background-color: #777;
}

body {
  background-color: #212529;
  color: #f8f9fa;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.round-button {
  background-color: #6c757d;
  border-color: #6c757d;
  border-radius: 80em;
  border: 1px solid transparent;
  color: #fff;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  height: 2.5em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 2.5em;
}

.float-left {
  position: absolute;
  left: 0;
  top: 0;
  margin: 1em;
}

.float-right {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1em;
}

.float-left p,
.float-right p {
  margin: 0.5em 0;
}
